<% provide(:title, 'Create entry') %>
<h1>New entry</h1>
<div class="row">
  <div class="span6 offset3">
	<%= form_for(@entry) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
	  <div class="field">
	  	<%= f.label :title %>
	    <%= f.text_area :title, placeholder: "Compose new title..." %>
	  </div>
	  <div class="field">
	  	<%= f.label :body %>
	    <%= f.text_area :body, placeholder: "Compose new entry..." %>
	  </div>
	  <div class="field">
	    <%= Time.now.strftime("%Y-%m-%d %a %H:%M:%S") %>
	  </div>
	  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
	<% end %>
  </div>
</div>