<% provide(:title, @entry.title) %>
<h1><%= @entry.title %></h1>
<p>
  <%= @entry.body %>
</p>
<span>Posted <%= time_ago_in_words(@entry.created_at) %> ago.</span>

<!--list comment-->
<div class="span8">
	<% if @comments.any? %>
	  <ul class="microposts">
	    <%= render @comments %>
	  </ul>
	<% end %>
</div>
<!--comment form-->
<% if signed_in? %>
	<%= render 'comments/comment_form' %>
<% end %>
