<% provide(:title, @entry.title) %>
<h1><%= @entry.title %></h1>
<p>
  <%= @entry.body %>
</p>
<p>Posted by <%= link_to @user_post_entry.name, @user_post_entry %> 
	<%= time_ago_in_words(@entry.created_at) %> ago.
</p>

<!--list comment-->
<% if @comments.any? %>
	<div class="span12">
	    <%= render @comments %>
	</div>
<% end %>
<!--comment form-->
<% if signed_in? %>
	<%= render 'comments/comment_form' %>
<% end %>
